<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-test:war exploded">
    <output-path>$PROJECT_DIR$/springboot-test/target/springboot-test</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-test" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-parent:1.2.5.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="E:\gitresp\study\springboot-test\target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-test/web/Web" />
    </root>
  </artifact>
</component>